@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-family: 'Poppins', sans-serif;
}
body {
	background: #000;
}

#events{
	padding-top: 18vh;
}

.events_box {
    /* width: 21rem; */
    /* height: auto; */
	/* width: 350px; */
	/* height: 450px; */
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
	background: #ffffff1a;
	backdrop-filter: blur(20px);
	/* padding: 1.5em; */
	border-radius: 25px;
	border: 2px solid #ffffff30;
	box-shadow: 0 0 30px #0000002a;
	text-align: center;
}

.events_img {
    /* width: 180px; */
	/* height: 180px; */
	overflow: hidden;
	object-fit: cover;
}
.events_img img {
    border-radius: 10px;
	width: 100%;
}

.events_name {
	color: #ffffff60;
	text-transform: capitalize;
	margin: 15px 0;
	font-family: 'Solitreo';
}

.events_date{
	font-family: 'Sofia Sans Extra Condensed';
	font-weight: 300;
	letter-spacing: 1px;
    text-align: end;
}

.events_desc{
	color: #ffffff90;
	font-size: 14px;
    text-align: justify;
}

.events_btn a {
    text-align: left;
	text-decoration: none;
	/* color: #262626; */
	/* padding: 8px 15px; */
	border: 2px solid rgba(255, 255, 255, 0.6);
    background: transparent;
	color: #fff;
}
