/* body{
    background-color: black;
} */

article{
    background-color: white;
}

.img1, .img2, .img3{
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* 
article{

} */

.img1{
    background-image: url('../assets/home/SPIT_Entrance.jpg');
    min-height: 100vh;
}
.img2{
    background-image: url('../assets/home/008_2.jpg');
    min-height: 50vh;
}
.img3{
    background-image: url('../assets/home/6Floor.jpg');
    min-height: 50vh;
}
/* 
.SPIT_Entrance{
    width: 100%;
    opacity: 0.7;
} */

/* .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

.show_2{
    transition-delay: 200ms;
} */